.accountContainer {
  margin-top: var(--vp-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.welcomeHeader {
  h4 {
    font-size: var(--text-3xl);
  }
}

.orderHistory {
  margin: var(--size-gap) 0;
  font-size: var(--text-lg);
  color: var(--grey-50);
}