.addToCart {
  min-width: 200px;
  align-self: flex-end;
  padding: var(--space-lg) var(--space-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  color: var(--text-color-inverted);
  text-transform: lowercase;
  letter-spacing: var(--even);
  font-weight: var(--bold);
  transition: var(--transition);
}

.addToCart:hover {
  box-shadow: var(--shadow);
}
