.mobileMenu {
  z-index: var(--level-two);
  position: fixed;
  top: var(--vp-sm);
  left: var(--vp-sm);
  top: var(--space-xl);
  left: var(--space-xl);
  min-height: var(--size-input);
  width: calc(100% - (var(--space-xl) * 2) );
  background-color: var(--white);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.menuHeader {
  height: var(--size-input);
  width: 100%;
  padding: 0 var(--space-md);
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-areas: "logo cart menu";
  .logoWrapper {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .cartWrapper {
    grid-area: cart;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 30%;
      width: 30%;
    }
    span {
      width: var(--size-input);
    }
    path {
      fill: var(--text-color);
    }
  }
  .menuButton {
    position: relative;
    grid-area: menu;
    align-self: center;
    justify-self: center;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    transition: var(--transition-2);
    &.closeButton {
      span {
        opacity: 0;
        // transform-origin: right;
        // transform: scaleX(0);
      }
    }
    span {
      position: absolute;
      background-color: var(--text-color);
      height: 2px;
      width: 90%;
      border-radius: var(--radius-rounded);
      transition: var(--transition-2);
      &:nth-child(1) {
        max-width: 30px;
        width: 55%;
        top: 20%;
        right: 0;
      }
      &:nth-child(2) {
        top: 50%;
        right: 0;
        max-width: 45px;
        width: 80%;
      }
      &:nth-child(3) {
        top: 80%;
        right: 0;
        max-width: 25px;
        width: 40%;
      }
    }
  }
}

.menuContent {
  min-height: calc(85vh - var(--size-input));
  width: 100%;
  border-radius: 0 0  var(--radius-lg) var(--radius-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  .mobileSocial {
    background-color: var(--text-color);
    width: 100%;
    height: var(--vp-xl);
    border-radius: 0 var(--radius-xl) var(--radius-lg) var(--radius-lg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    path {
      fill: var(--white);
    }
  }
}