.wlItem {
  max-width: 400px;
  max-height: 50vh;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: calc(var(--size-gutter-raw) / 1);
  margin-bottom: var(--size-gutter-raw);
  &:hover {
    .removeBtn,
    .addToCartWrapper {
      opacity: 1;
    }
  }
  @media (max-width: 1024px) {
    max-height: unset;
    padding-left: var(--vp-md);
    padding-right: var(--vp-md);
    .removeBtn,
    .addToCartWrapper {
      opacity: 1;
    }
  }
}

.removeBtn {
  opacity: 0;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  letter-spacing: var(--tracked);
  color: var(--grey-40);
  margin-left: auto;
  transition: var(--transition-2);
  span {
    font-size: var(--text-2xl);
  }
  p {
    padding: 0;
    margin: 0;
  }
  &:hover {
    span,
    p {
      color: var(--text-color);
    }
  }
  @media (max-width: 1024px) {
    p {
      display: none;
    }
    span {
      font-size: var(--text-3xl);
    }
  }
}

.imageWrapper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  img {
    aspect-ratio: 1;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.nameAndPrice {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemName {
  font-size: var(--text-md);
  font-weight: var(--bold);
}
.itemPrice {
  opacity: 1;
}

.variantName {
  margin-top: var(--space-sm);
  color: var(--grey-40);
  text-transform: lowercase;
}

.addToCartWrapper {
  opacity: 0;
  margin-top: var(--space-lg);
  display: flex;
  align-items: center;
  transition: var(--transition-2);
  & > * {
    width: 100% !important;
  }
}