.layout {
  position: fixed;
  display: grid;
  height: 100vh;
  grid-template-rows: 100%;
  grid-template-columns: 19vw 67vw 14vw;
  grid-template-areas: "lNav content rNav";
  @media (max-width: 1024px) {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
}

.scrollWrap {
  grid-area: content;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none !important;
  }
  @media (max-width: 1024px) {
    overflow-x: hidden;
    padding-top: calc(var(--vp-md) + var(--vp-xl));
    width: 100vw;
    main {
      overflow-x: hidden;
    }
  }
}

